// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #5358bb;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #707070;
$light-gray: #F4F4F4;
$light-blue: #6bf1dd;
