.container-order-confirm {
  .form-check {
    padding-left: 22px;

    input {
      color: $primary;
    }
  }
}

@media only screen and (max-width: 360px) {
  .container-order-confirm {
    padding: 0 16%;
  }
}

@media only screen and (max-width: 768px) {
  .container-order-confirm {
    padding: 0 20%;
  }
}

@media only screen and (min-width: 768px) {
  .container-order-confirm {
    padding: 0 25%;
  }
}

.order-service {
  img {
    width: 60px;
    height: 60px;
    border-radius: 3px;
  }
}

@media only screen and (max-width: 540px) {
  .order-service {
    h4 {
      font-size: 15px;
    }

    p {
      font-size: 10px;
    }
  }
}
