@media only screen and (max-width: 540px) {
  .container-devise {
    padding: 0 20%;
  }
}

@media only screen and (min-width: 540px) {
  .container-devise {
    padding: 0 30%;
  }
}

@media only screen and (min-width: 768px) {
  .container-devise {
    padding: 0 40%;
  }
}

.sign-up-form {
  label {
    font-weight: 600;
  }
}
