<div class="container-fluid container-padding">
  <h4 class="mt-4 ml-4">SERVICIOS</h4>
  <div class="align-content-center d-flex flex-wrap justify-content-center text-center">
    <% @categories.each do |category| %>
      <div class="col-4 col-md-1 mt-4 mx-3 px-2 category">
        <%= link_to category_path(category) do %>
          <%= image_tag "#{category.name.downcase.gsub(" ", "-")}.png", class: "category-img" %>
        <% end %>
        <h6 class="mt-2"><%= category.name %></h6>
      </div>
    <% end %>
  </div>
</div>
