<div class="container-fluid container-padding">
  <h4 class="my-4 ml-4">SERVICIOS</h4>
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-4 col-md-1 text-center mt-2 mx-3">
        <%= link_to category_path(category) do %>
          <%= image_tag "#{category.name.downcase.gsub(" ", "-")}.png", class: "category-img" %>
        <% end %>
        <h6 class="mt-2"><%= category.name %></h6>
      </div>
    <% end %>
  </div>
</div>
