<body class="bg-white">
  <div class="container-fluid container-devise text-center success">
    <%= image_tag 'pedido-realizado.png' %>
    <h4 class="text-dark font-weight-bold">¡Pedido realizado!</h4>
    <p class="text-muted">Te notificaremos una vez que el servicio esté confirmado.</p>
    <span class="btn btn-primary text-dark">¡Gracias!</span>
  </div>
</body>
