.navbar {
  background: linear-gradient(8deg, rgba(83,88,187,1) 0%, rgba(19,171,175,1) 100%);

  .nav-link {
    color: white !important;
    text-decoration: none;

    &:hover {
      color: black !important;
    }
  }
}

.navbar-logo {
  width: 15vw;
}

#purchases {
  font-size: 18px;
  color: white;
  margin: 0;
  padding-left: 10px;
}
