<div class="col-4 col-lg-1 mt-4 mx-3 px-2 category">
  <%= link_to category_path(category) do %>
    <% if category.id == @category.id %>
      <%= image_tag "#{category.name.downcase.gsub(' ', '-')}.png", class: "category-img category-active" %>
    <% else %>
      <%= image_tag "#{category.name.downcase.gsub(' ', '-')}.png", class: "category-img" %>
    <% end %>
  <% end %>
  <h6 class="mt-3"><%= category.name %></h6>
</div>
